body{
  padding-top:300px;
}
#question{
  display:flex;
  justify-content:center;
  font-size:4rem;
  color:gray;
}
.changeColor{
  color:black;
  font-size:3.5rem;
}
.button-style{
  display:flex;
  justify-content:center;
  margin:auto;
  font-size:2rem;
}
.hidden{
  display:none;
}
